@font-face {
  font-family: 'Butterfly';
  src: url('~@/assets/Butterfly.otf');
}

.container {
	width: 100%;
	max-width: 970px;

	margin: 0 auto;
}

article {
  display: flex;
  flex-direction: column;

  padding: $standard-padding;

  h1 {
    font-size: $title-font-size;
    margin-bottom: $line-margin;
  }

  p {
    font-size: $content-font-size;
    float: right;
  }

  img {
    display: block;
    // max-width: 300px;
    width: 100%;
    margin-bottom: $line-margin;
  }
}

.color-anchor {
  color: rgb(109, 43, 209);
}
