$standard-padding: 2rem;
$small-padding: 1rem;
$line-padding: .5rem;

$standard-margin: 2rem;
$small-margin: 1rem;
$line-margin: .5rem;

$button-vertical-padding: .75rem;
$button-horizontal-padding: 2rem;

$title-font-size: 2.5rem;
$subtitle-font-size: 2rem;
$large-font-size: 1.75rem;
$content-font-size: 1.25rem;
$small-font-size: 1rem;